@model UserCredential

@{
    ViewData["Title"] = "Complete";
}

<h2>Sign Up Result</h2>

<dl class="dl-horizontal">
    <dt>First Name</dt>
    <dd>@Model.FirstName</dd>

    <dt>Last Name</dt>
    <dd>@Model.LastName</dd>

    <dt>Birth Day</dt>
    <dd>@Model.Month @Model.Day, @Model.Year</dd>

    <dt>Gender</dt>
    <dd>@Model.Gender</dd>

    <dt>E-mail</dt>
    <dd>@Model.Email</dd>

    <dt>Password</dt>
    <dd>Model.Password</dd>

    <dt>User Exist</dt>
    <dd>@Model.UserExist</dd>

    <dt>Remember</dt>
    <dd>@Model.RememberMe</dd>

</dl>